*{
    margin:0;
    padding:0;
}

body{
    background: linear-gradient(#e6ba56, #f08a5a) !important;
    display : table !important;
	width: 100% !important;
}

hr{
    border-top: 1px solid rgba(0, 0, 0, 0.7) !important;
}

#no_db{
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 33%;
}
.center-li{
    position: absolute;
    left: 45.8%;
    top: 10%;
    font-size: 20px;
    font-family: cursive;
}

.fixed-top{
    z-index: 9 !important;
}
.fa-ellipsis-v{
    color: darkorange;
}

.img-logo{
    margin-top: 60px !important;
    margin: 0 auto;
    height: 150px;
    cursor: pointer;
}
#navBody{
    background-color: rgba(52,58,64,0.5)!important;
}   

#navTitle{
    font-family: cursive;
    font-size: 20px;
}

#navbarCollapse > ul.navbar-nav.ml-auto > li > div > div > div > div:nth-child(3){
    height: 25px;
}

#navbarCollapse > ul.navbar-nav.ml-auto > li > div > div > div > div:nth-child(4){
    height: 25px;
}

#navbarCollapse ul {
    display:table-row;
}
#navbarCollapse ul li
{
    display: table-cell;
    list-style-type: none;
    margin: 10px;
    vertical-align: middle;
}

#navbarCollapse ul li a {
    display:table-cell;
    vertical-align: middle;
}

#search_bar{
    width: 218px;;
}

#nav_bar_log{
    color: white;
}

.ellipsis{
    height: 25px;
    margin-top: 7px;
}

#paw_home{
    color: coral; 
    transform: rotate(25deg);
}

.inp-group-login{
    margin: 0 auto !important;
    margin-bottom: 15px !important;
    margin-top: 15px !important;
}

.input-group-text{
    background: #fff !important;
    border-right: none !important;
}

.input-group-text.invalid{
    background: #fff !important;
    border-right: none !important;
    border: 1px solid #dd3645 !important;  

}

.inp-group-input{
    border-left: none !important;
}

footer{
    margin-top: 25px;
    background-color: rgba(0,0,0,.5);
    color: whitesmoke !important;
    z-index: 2;
}

footer > p > a{
    margin-bottom: 0px;
}

body > footer > div.footer-copyright.py-3.text-center > p > a{
    color: #54c8ff !important;
    text-decoration: underline;
}
footer a {
    color: whitesmoke !important;
    text-decoration: underline;
}

body > footer > div.container > div.row.pb-3 > div > div > a{
    text-decoration: none;
}

h1,h2,h3{
    width: 100%;
    text-align: center;
    color: whitesmoke !important;
}

.titre{
    margin-top: 70px !important;
    margin-bottom: 50px !important;
    font-family: cursive;
}

.titre2{
    margin-top: 70px !important;
    font-family: cursive;
    text-decoration: underline;
}

.titre3{
    font-family: cursive;
    text-decoration: underline;
}

.titre4{
    margin-bottom: 50px !important;
    font-family: cursive;
    text-decoration: underline;
}

.titre5{
    margin-top: 70px !important;
    margin-bottom: 25% !important;
    font-family: cursive;
}

.desc{
    margin-top: 15% !important;
    margin-bottom: 15px; !important;
}

#descHome{
    font-style: italic;
    font-family: cursive;
}

.card_home{
    cursor: pointer;
    max-width: 210px;
}

.card_home > img{
    border: 2px solid black;
}

.card-img-top{
    height: 187px !important;
    border-radius: 50% !important;
}

.card{
    margin: 15px;
    text-align: center;
    max-height: 350px !important;
    border-radius: 5px !important;
    padding: 10px;
}

.card2{
    cursor: pointer;
    width: 522px;
    max-height: 622px !important;
    margin: 0 auto;
}

.card3{
    cursor: pointer;
    width: 522px;
    max-height: 622px !important;
    margin: 0 auto;
    top: 45px;
    margin-bottom: 8%;
}

.card-group{
    margin-top: 15px;
    margin: 0 auto;
}

#form_conf{
    margin-top: 25px !important;
    margin: 0 auto;
    margin-bottom: 36%;
    
}

#see_more_pets{
    margin-top: 25px !important;
    margin: 0 auto;
    margin-bottom: 8%;
    
}

#see_more_pets_2, #my_favoris{
    margin-top: 25px !important;
    margin: 0 auto;
    margin-bottom: 36%;
}

.dropdown-toggle::after{
    content: none !important;
}


#see_more_pets_3{
    margin-top: 25px !important;
    margin: 0 auto;
    margin-bottom: 28%;
    
}

.drop1{
    width: 300px !important;
    top: 130% !important;
    right: -10% !important;
    left: initial !important;
}

.drop2{
    width: 300px !important;
    top: 130% !important;
    right: -5% !important;
    left: initial !important;
}

.form_log_1, .form_log_2{
    margin: 0 auto !important;
    text-align: center !important;  
}

.form_log_2 {
    width: 100%;
    margin-top: 15px !important;
}

#navbarCollapse > ul.navbar-nav.ml-auto > li > div > div > div > a{
    margin: 0 auto;
}

#navbarCollapse > ul.navbar-nav.ml-auto > li > div > div > div > form:nth-child(3) > div{
    text-align: center;
}

#navbarCollapse > ul.navbar-nav.ml-auto > li > div > div > div > form > div > input{
    margin-top: 15px;
    width: 260px !important;
}

#navbarCollapse > ul.navbar-nav.ml-auto > li > div > div > div > form > div > button{
    margin-top: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 25px;
}

#navbarCollapse > ul.navbar-nav.ml-auto > li > div > div > div > form:nth-child(4) > button{
    margin-top: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 25px;
}

#navbarCollapse > ul.navbar-nav.ml-auto > li > div > div > div > form.form_log_2 > button{
    margin-top: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 25px;
}

#navbarCollapse > ul.navbar-nav.ml-auto > li > div > div > div > div:nth-child(3) > form{
    text-align: center;
}

#navbarCollapse > ul.navbar-nav.ml-auto > li > div > div > div > form > hr{
    border-top: 1px solid rgba(0,0,0,0.5) !important;
}
.dropdown-div{
    margin: 0 auto;
    font-weight: bold;
    text-decoration: underline;
}

.dropdown-div2{
    margin: 0 auto;
    text-decoration: underline;
}

.zoom {    
    transition: all 0.15s ease-in-out;     
}     

.zoom:hover{
    transform: scale(1.3);    
    z-index:100;
    opacity: inherit;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.newMemberForm{
    margin: 0 auto;
    width: 50%;
    margin-top: 25px !important;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 25px;
    background-color: rgba(52,58,64,0.3)!important;
    text-align: center;
    margin-bottom: 2.3% !important;
}

.newAnimalForm{
    margin: 0 auto;
    width: 50%;
    margin-top: 25px !important;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 25px;
    background-color: rgba(52,58,64,0.3)!important;
    text-align: center;
    margin-bottom: 20% !important;
}

.inp-center{
    margin: 0 auto;
}

.inp-password{
    margin-right: 0px;
    right: 20px;
    margin-left: 108px;}

.btn-center{
    margin: 0 auto !important;
    display: block !important;
}

#alertGest{
    margin: 0 auto;
}

#alert_no_adds{
    margin: 0 auto;
    margin-top: 16%;
}

#alert_conf{
    margin: 0 auto;
    margin-top: 12%;
}

#list_log{
    margin: 0 auto;
    list-style-type: none;
}

.inp_list_log{
    border: initial;
    background: initial;
    cursor: pointer;
    text-decoration: underline;
}

.li-center{
    text-align: center;
    display: inherit !important;
}

#alertLog{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 16px;
    padding-bottom: 6px;
    padding-top: 6px;
}

.i-center{
    text-align: center !important;
    display: block !important;
}

body > div > div > form > div > div.custom-file{
    margin-bottom: 15px !important;
}

.img-circle{
    border-radius: 100px !important;
    margin: 0 auto;
    width: 153px;
    height: 103px;
}

#imgAnimal{
    border-radius: 100px !important;
    width: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 200px;
}

.img_fiche_animal{
    margin: 0 auto!important;
    border-radius: 100px !important;
    width: 200px!important;
    margin-top: 0px!important;
    margin-bottom: 0px!important;
    height: 200px!important;
}

.add-animal{
    height: 222px;
    width: 222px;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 150px !important;
    background-color: #ffffffbf !important;
}

.inp_limit{
    text-align: center;   
}

.img_list{
    float: left;
    position: absolute;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 50% !important;
    cursor: pointer;
}

.card_list{
    width: 65% !important;
    height: 100px !important;
    margin: 0 auto !important;
    margin-bottom: 15px !important;
}

.title_list{
    margin-left: 100px !important;
    text-align: initial !important;
    text-decoration: underline;
    max-width: 375px;
    cursor: pointer;
}

.body_list{
    padding: 0px !important;
}

.desc_list{
    width: 55%;
    margin-left: 14%;
    text-align: initial;
    float: left;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap; 
}

.proprio_list{
    float: right !important;
    text-align: right !important;
    line-height: 1 !important;
    margin-top: 2% !important;
}

.heart-list{
    float: right !important;
    text-align: right !important;
    line-height: 1 !important;
    margin: 0 !important;
}

#pagination{
    margin: 0 auto;
    width: 59%;
    text-align: center;
    position: relative;
    bottom: 5%;
}

#pagination ul{
    display: inline-block;
}

#pagination li{
    float: left;
}

.pagination a {
    transition: background-color .3s;
}

.page-item.active .page-link{
    transition: background-color .3s;
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
    color: white;
}

.gestion-btn{
    margin: 0 auto;
}

.btn-gestion{
    position: relative;
    left: 89%;
    border: 2px dashed black;
    width: 65px;
    padding: 5px;
    border-radius: 0px 0px 0px 10px;
    border-top: transparent;
    border-right: transparent;
    top: -2%;
}

.btn-gestion2{
    position: relative;
    left: 94%;
    border: 2px dashed black;
    width: 38px;
    padding: 5px 0px 5px 10px;
    border-radius: 0px 0px 0px 10px;
    border-top: transparent;
    border-right: transparent;
    top: -4%;
}

.text-overflow{
    max-height: 100px;
    overflow-y: scroll;
}

.text-overflow::-webkit-scrollbar{
	width: 12px !important;
	height: 13px !important;
	background-color: transparent;
}

.text-overflow::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
}

.text-overflow::-webkit-scrollbar-corner{
	background-color: transparent;
}

.text-overflow::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.text-overflow::-webkit-scrollbar-thumb:hover{
	background-color: #666;
}

#input_img{
    display: none;
}

#animal_image{
    border-radius: 50%;
}

#modifier{
    cursor:pointer;
}
#profile-container{
    text-align: center;
    position: relative;
    width: auto;
}

#profile-container_2{
    text-align: center;
    width: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #00000038;
    border-radius: 50%;
    width: 100px;
    margin: 0 auto;
}

.overlay_2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #00000038;
    margin: 0 auto;
}

#profile-container:hover .overlay, #profile-container_2:hover .overlay_2 {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.modal_image{
    width: 100%;
}

.is-valid-medium{
    border-color: #ffc107 !important;
}

.is-valid-strong{
    border-color: #28a745 !important;
}

.is-valid-very-strong{
    border: 1px solid purple !important;
}

@media screen and (min-width: 1366px){
    #filter{
        height: 903px !important;
        width: 15%;
        background-color: rgba(52,58,64,0.5)!important;
        top: 7%;
        position: fixed;
        left: -15%;
        max-height: 903px;
        overflow-y: scroll;
        overflow: auto;
    }
}

@media screen and (min-width: 1440px){
    #filter{
        height: 903px !important;
        width: 15%;
        background-color: rgba(52,58,64,0.5)!important;
        top: 6.7%;
        position: fixed;
        left: -15%;
        max-height: 903px;
        overflow-y: scroll;
        overflow: auto;
    }
}

@media screen and (min-width: 1900px){
    #filter{
        height: 903px !important;
        width: 15%;
        background-color: rgba(52,58,64,0.5)!important;
        top: 5.8%;
        position: fixed;
        left: -15%;
        max-height: 903px;
        overflow-y: scroll;
        overflow: auto;
    }
}

#filter::-webkit-scrollbar{
	width: 12px !important;
	height: 13px !important;
	background-color: transparent;
}

#filter::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
}

#filter::-webkit-scrollbar-corner{
	background-color: transparent;
}

#filter::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

#filter::-webkit-scrollbar-thumb:hover{
	background-color: #666;
}

.under-list-border{
    border: 1px solid rgba(0,0,0,.125);
    position: relative;
    display: block;
    padding: 5px 10px 5px 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10px;
}

.under-list{
    margin-left: 5px;
}

.filter_down{
    float: right;
}

.filter_reset{
    color: #dc3545;
    cursor: pointer;
    position: relative;
    left: 35%;
}

.panel-heading{
    transition: 300ms linear all;
}

.arrow_down{
    transform:rotate(180deg);
}

.filter_down{
    transition: 300ms linear all;
}

@media screen and (min-width: 1366px){
    .favoris{
        position: fixed !important;
        left: -15%;
        top: 7%;
        height: 903px;
        max-height: 903px;
        background-color: rgba(52,58,64,0.5)!important;
        width: 15%;
    }
}

@media screen and (min-width: 1440px){
    .favoris{
        position: fixed !important;
        left: -15%;
        top: 6.7%;
        height: 903px;
        max-height: 903px;
        background-color: rgba(52,58,64,0.5)!important;
        width: 15%;
    }
}

@media screen and (min-width: 1900px){
    .favoris{
        position: fixed !important;
        left: -15%;
        top: 5.8%;
        height: 903px;
        max-height: 903px;
        background-color: rgba(52,58,64,0.5)!important;
        width: 15%;
    }
}

.img-favoris{
    width: 70px !important;
    display: inline-block !important;
}

.list-favoris{
    padding-left: 6px !important;
    padding-right: 6px !important;
}

.img_list_favoris{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50% !important;
    cursor: pointer;
    margin-bottom: 10px;
}

#table_favoris{
    margin: 0 auto;
}

#table_favoris > tbody > tr > td{
    padding: 5px;
}

.carousel{
    margin: 0 auto;
}

.carousel-caption{
    max-width: 200px;
    background: rgba(52,58,64,0.6)!important;
    border-radius: 15px;
    margin: 0 auto;
    left: -75% !important;
    bottom: 76% !important;
    right: 0 !important;
}

.carousel-caption > h5, .carousel-caption > p{
    margin-bottom: 0px !important;
}

.carousel-inner{
    border-radius: 10px;
}

.inp_filter{
    background: initial !important;
    border: none !important;
    color: blue !important;
    text-decoration: underline !important;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
    font-size: 16px !important;
    cursor: pointer;
    padding-left: initial !important;
}

.form_filter{
    position: initial !important;
}

.heart_fiche_animal{
    float: right;
    position: absolute;
    right: -63%;
    top: -12%;
    font-size: 20px;
}

.carousel-indicators > .active{
    background-color: rgb(255, 106, 0) !important;
}

.carousel-indicators{
    position: relative !important;
    top:-8% !important;
    margin-bottom: 0px !important;
    right: initial !important;
    left: initial !important;
    bottom: auto !important;
}

.carousel-item {
    cursor: pointer;
}

.carousel-control-prev:hover{
    background-color: rgba(52,58,64,0.6)!important;
    transition:.5s;
    top: 40% !important;
    border-radius: 100%;
    width: 100px !important;
    height: 100px;
    left: 2% !important;
}

.carousel-control-prev{
    top: 40% !important;
    border-radius: 100%;
    width: 100px !important;
    height: 100px;
    left: 2% !important;
}

.carousel-control-next:hover{
    background-color: rgba(52,58,64,0.6)!important;
    transition:.5s;
    top: 40% !important;
    border-radius: 100%;
    width: 100px !important;
    height: 100px;
    right: 2% !important;
}

.carousel-control-next{
    top: 40% !important;
    border-radius: 100%;
    width: 100px !important;
    height: 100px;
    right: 2% !important;
}

#carousel_favoris{
    background-color: rgba(52,58,64,0.6)!important;
    padding: 15px !important;
    border-radius: 15px;
    margin-bottom: 8%;
}

.heart_carousel{
    position: absolute;
    right: 6%;
    top: 5%;
    font-size: 20px;
}

#toggle_filter{
    text-align: center;
    width: 64px;
    position: fixed;
    left: 0;
    top: 8%;
    background-color: rgba(52,58,64,0.5)!important;
    color: whitesmoke;
    cursor: pointer;
    z-index: 2;
    border-radius: 0px 10px 10px 0px;
    -webkit-box-shadow: 2px 3px 1px 1px #0000009e;

}

@media screen and (min-width: 1366px){
    #toggle_favoris{
        text-align: center;
        width: 64px;
        position: fixed;
        left: 0;
        top: 15.5%;
        background-color: rgba(52,58,64,0.5)!important;
        color: whitesmoke;
        cursor: pointer;
        z-index: 2;
        border-radius: 0px 10px 10px 0px;
        -webkit-box-shadow: 2px 3px 1px 1px #0000009e;

    }
}

@media screen and (min-width: 1440px){
    #toggle_favoris{
        text-align: center;
        width: 64px;
        position: fixed;
        left: 0;
        top: 15%;
        background-color: rgba(52,58,64,0.5)!important;
        color: whitesmoke;
        cursor: pointer;
        z-index: 2;
        border-radius: 0px 10px 10px 0px;
        -webkit-box-shadow: 2px 3px 1px 1px #0000009e;

    }
}

@media screen and (min-width: 1900px){
    #toggle_favoris{
        text-align: center;
        width: 64px;
        position: fixed;
        left: 0;
        top: 14%;
        background-color: rgba(52,58,64,0.5)!important;
        color: whitesmoke;
        cursor: pointer;
        z-index: 2;
        border-radius: 0px 10px 10px 0px;
        -webkit-box-shadow: 2px 3px 1px 1px #0000009e;

    }
}

input.loading {
    background: url(http://www.xiconeditor.com/image/icons/loading.gif) no-repeat right center;
}

#img-404{
    border-radius:25px;
    padding: 10px;
    background: rgba(52,58,64,0.5);
}

body > div > div > div > div > a{
    margin-top: 25px;
    margin-bottom: 38px;
}

.contact-col-1, .contact-col-2{
    background-color: rgba(52,58,64,0.5)!important;
    padding: 15px;
    text-align: center !important;
    color: whitesmoke !important;
    margin-bottom: 7.5%;
}


.contact-col-1 > h5{
    text-decoration: underline;
    font-family: cursive;
}

.loader {
  border: 6px solid rgba(80, 80, 80, 0.87);
  border-radius: 50%;
  border-top: 6px solid #ff7f00;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

#fond_loader{
    background-image: url(https://image.noelshack.com/fichiers/2018/15/1/1523289150-logo.png);
    background-size: 19%;
    background-repeat: no-repeat;
    background-position: center;
    animation: spin 3s linear infinite;
}

#fond_loader_2{
    background-image: url("../images/logo.png");
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
    animation: spin 3s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.forget_password{
    display: inline-block;
    margin-bottom: 10px;
    color: whitesmoke !important;
}

#a_retour{
    -webkit-appearance: initial;
    color: white;
}

.a_input{
    -webkit-appearance: initial !important;
    color: white !important;
}

.a_center{
    width: 200px;
    margin: 0 auto;
}

.a_href_center{
    color: #749cf7 !important;
    width: 200px;
    margin: 0 auto;
}

.a_href{
    color: dodgerblue !important;
    cursor: pointer;
}

.a_href_heart{
    color: darkorange !important;
    cursor: pointer;
}

.input_two{
    margin-bottom: initial !important;
}

.input-reset_password{
    margin: 0 auto;
    width: 200px;
    margin-top: 15px;
}


.custom-control-label{
    cursor: pointer;
    width: 100% !important;
}

.custom-control-input{
    display: none;
}

.custom-radio .custom-control-label::before{
    position: relative !important;
    float: right !important;
}

.custom-control-label::after{
    position: relative !important;
    float: right !important;
}

.close{
    color: darkred !important;
    opacity: .8 !important;
}

.cross{
    position: relative !important;
    top: -2px !important;
}

#form_contact > div > div:nth-child(4) > div > label::after{
    position: absolute!important; 
    float: none !important; 
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff !important;
    background-color: #ffc107 !important;
}

.wbk_button{
    -webkit-box-shadow: 2px 2px 2px 2px #0000009e;
    cursor: pointer;
    margin-right: 10px;
}

#password_strength{
    position: absolute;
    right: -15.7%;
    background: rgba(0,0,0,0.2);
    height: 38px;
    border-radius: 0px 5px 5px 0px;
    width: 54px;
    font-size: 24px;
}

.contact-col-1{
    margin-bottom: 33% !important;
    margin-top: 15% !important;
    margin: 0 auto;
}

.loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #fff;
    z-index: 0;
}

.loader-section.section-left {
    left: 0;
}

.loader-section.section-right {
    right: 0;
}
#loading{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
    margin-top: 0px;
    top: 300px;
}

#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
}
 
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200px;
	width: 200px;
	margin-top: -100px;
	margin-left: -100px;
}

#object{
	border: 6px solid rgba(80, 80, 80, 0.87);
    border-radius: 50%;
    border-top: 6px solid #ff7f00;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
	margin-right: auto;
	margin-left: auto;
	margin-top: 150px;
}

.ml11 {
    font-weight: 900;
    font-size: 3.5em;
    color: #ff7f00;
    position: relative;
    top: 35%;
    font-family: Yanone Kaffeesatz, sans-serif;
}

.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    color: #ff7f00;
}

.ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
    color: #ff7f00;
}

.ml11 .line1 { 
    top: 0; 
    left: 0;
    background-color: #ff7f00;
}

.ml11 .letter {
    display: inline-block;
    line-height: 1em;
    color: #ff7f00;
}

.move_left{
    transform: translateX(-100%);
    transition: ease 2s;
}

.move_right{
    transform: translateX(100%);
    transition: ease 2s;
}