{% extends "layout.html" %} 
{% block content %}
<div class="container">
    <div class="row">
        <img class="img-logo" src="https://image.noelshack.com/fichiers/2018/16/3/1524068679-logo.png" />
        <div class="container" style="position: relative; text-align: center;">

            <h3 class="titre4">
                <i class="fas fa-exclamation-circle faa-flash animated" style="color: darkred;"></i> La page que vous avez demandée n'a pas pu être trouvée !
                <i class="fas fa-exclamation-circle faa-flash animated" style="color: darkred;"></i>
            </h3>

            <img src="/static/images/404.jpg" id="img-404" width="700" height=540>
            <div style="margin-bottom: 2%;">
                <a class="btn btn-warning btn-return" onclick="goBack()" role="button">Revenir en arrière</a>
                <a class="btn btn-light btn-return" href="/" role="button">Retour à la page d'accueil</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
