{% if list_animals %} 
    {% for animal in list_animals %}
    <div class="card border-dark card_list">
        <img class="img_list zoom" src="data:;base64,{{ animal.file_content }}" alt="{{ animal.file_name }}" onclick="window.location='/animaux/fiche/{{ animal.id_animal }}';" />
        <div class="card-body body_list">
            {% if list_favoris %} 
                {% if animal in list_favoris %}
                    <a class="card-text heart-list" href="/del_favoris/{{ animal.id_animal}}" style="color: darkorange;"><i class="fa fa-heart faa-tada animated-hover faa-fast"></i></a> 
                {% else %}
                    <a class="card-text heart-list" href="/add_favoris/{{ animal.id_animal}}" style="color: darkorange;"><i class="far fa-heart faa-tada animated-hover faa-fast"></i></a> 
                {% endif %} 
            {% endif %}
            <h5 class="card-title title_list" onclick="window.location='/animaux/fiche/{{ animal.id_animal }}';">{{ animal.nom }} - {{ animal.age }} ans - {{ animal.type }} - {{ animal.race }}</h5>
            <div class="card-text desc_list">{{ animal.description }}</div>
            <p class="card-text proprio_list"><small class="text-muted">Publié le {{ animal.date_publication }}<br>{{ animal.ville }} - {{ animal.province }} - {{ animal.code_postal }}</small></p>
        </div>
    </div>
    {% endfor %}
    <div class="container">
        <div class="row">
            <div id="pagination">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if actual == 1 %}
                            <li class="page-item disabled">
                                <a class="page-link" tabindex="-1">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="/animaux/{{ actual-1 }}" tabindex="-1">Previous</a>
                            </li>
                        {% endif %} 
                        {% for i in range(1,nb_pages+1) %} 
                            {% if i == actual %}
                                <li class="page-item active"><a class="page-link page-num" href="/animaux/{{ i }}">{{ i }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link page-num" href="/animaux/{{ i }}">{{ i }}</a></li>
                            {% endif %} 
                        {% endfor %} 
                        {% if actual == nb_pages %}
                            <li class="page-item disabled">
                                <a class="page-link">Next</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="/animaux/{{ actual+1 }}">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% else %}
<div class="container">
    <div class="row">
        <div class="alert alert-warning" role="alert" id="alertGest" style="margin-bottom: 55%;">
            <i class="fas fa-exclamation-circle faa-flash animated"></i>
            <a>Aucun résultat trouvé</a>
            <i class="fas fa-exclamation-circle faa-flash animated"></i>
        </div>
    </div>
</div>
{% endif %}
