{% extends "layout.html" %} {% block content %}
<div class="container">
    <div class="row">
        <img class="img-logo" src="https://image.noelshack.com/fichiers/2018/16/3/1524068679-logo.png" />

        <h2 class="titre4">Confirmation</h2>
        {% if type_conf == "add_animal" %}
            <div class="alert alert-success" role="alert" id="alert_conf">
                <i class="fas fa-check-circle faa-flash animated"></i>
                <a>Votre annonce a été ajoutée avec succés !</a>
                <i class="fas fa-check-circle faa-flash animated"></i>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <form action="/mes_annonces" method="post" id="form_conf">
                <a class="btn btn-light btn-return" href="/" role="button">Retour à l'accueil</a>
                <button type="submit" class="btn btn-warning">Voir mon annonce <i style="color: saddlebrown;" class="fas fa-paw faa-shake animated"></i></button>
            </form>
        {% elif type_conf == "mod_animal" %}
            <div class="alert alert-success" role="alert" id="alert_conf">
                <i class="fas fa-check-circle faa-flash animated"></i>
                <a>Votre annonce a été modifiée avec succés !</a>
                <i class="fas fa-check-circle faa-flash animated"></i>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <form action="/mes_annonces" method="post" id="form_conf">
                <a class="btn btn-light btn-return" href="/" role="button">Retour à l'accueil</a>
                <button type="submit" class="btn btn-warning">Voir mon annonce <i style="color: saddlebrown;" class="fas fa-paw faa-shake animated"></i></button>
            </form>
        {% elif type_conf == "new_member" %}
            <div class="alert alert-success" role="alert" id="alert_conf">
                <i class="fas fa-check-circle faa-flash animated"></i>
                <a>Merci de votre inscription ! Un courriel vous a été envoyé afin de confirmer votre compte ! Veuillez vérifier vos courriels avant de vous authentifier !  </a>
                <i class="fas fa-check-circle faa-flash animated"></i>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <form method="post" id="form_conf">
                <a class="btn btn-light btn-return" href="/" role="button">Retour à l'accueil</a>
                <button type="button" class="btn btn-primary" onclick="show_login();">Se connecter</button>
            </form>
        {% elif type_conf == "mod_user" %}
            <div class="alert alert-success" role="alert" id="alert_conf">
                <i class="fas fa-check-circle faa-flash animated"></i>
                <a>Vos informations ont été modifées avec succés !</a>
                <i class="fas fa-check-circle faa-flash animated"></i>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <form action="/mes_infos" method="post" id="form_conf">
                <a class="btn btn-light btn-return" href="/" role="button">Retour à l'accueil</a>
                <button type="submit" class="btn btn-info">Voir mes informations <i style="color: white;" class="fas fa-info-circle faa-shake animated"></i></button>
            </form>
        {% elif type_conf == "email_confirmed" %}
            <div class="alert alert-success" role="alert" id="alert_conf">
                <i class="fas fa-check-circle faa-flash animated"></i>
                <a>Votre compte a bien été confirmé ! Veuillez vous connecter afin de continuer !</a>
                <i class="fas fa-check-circle faa-flash animated"></i>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <form action="/login" method="post" class="newMemberForm" style="margin-bottom: 25.5% !important;">
                <div class="form-row">
                    <div class="form-group col-lg-8 inp-center">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="material-icons">email</i></span>
                            </div>
                            <input name="email" type="text" class="form-control inp-group-input" placeholder="Courriel" aria-label="Courriel" aria-describedby="basic-addon1" required/>
                        </div>
                    </div>
                    <div class="form-group col-lg-8 inp-center  input_two">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="material-icons">lock_outline</i></span>
                            </div>
                            <input name="password" placeholder="Mot de Passe" class="form-control inp-group-input" type="password" aria-label="Mot de Passe" aria-describedby="basic-addon1" required/>
                        </div>
                    </div>
                </div>
                <a href="/reset_password" class="forget_password">Mot de passe oublié ?</a><br>
                <button type="submit" class="btn btn-info" style="border-radius: 25px;">S'inscrire</button>
                <button href="/login" class="btn btn-primary" style="border-radius: 25px;">Se connecter </button>
            </form>
        {% elif type_conf == "new_email" %}
            <div class="alert alert-success" role="alert" id="alert_conf">
                <i class="fas fa-check-circle faa-flash animated"></i>
                <a>Un courriel vous a été renvoyé ! Veuillez cliquer sur le lien de confirmation figurant à l'intérieur avant de vous authentifier !</a>
                <i class="fas fa-check-circle faa-flash animated"></i>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <form action="/login" method="post" class="newMemberForm" style="margin-bottom: 25.5% !important;">
                <div class="form-row">
                    <div class="form-group col-lg-8 inp-center">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="material-icons">email</i></span>
                            </div>
                            <input name="email" type="text" class="form-control inp-group-input" placeholder="Courriel" aria-label="Courriel" aria-describedby="basic-addon1" required/>
                        </div>
                    </div>
                    <div class="form-group col-lg-8 inp-center  input_two">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="material-icons">lock_outline</i></span>
                            </div>
                            <input name="password" placeholder="Mot de Passe" class="form-control inp-group-input" type="password" aria-label="Mot de Passe" aria-describedby="basic-addon1" required/>
                        </div>
                    </div>
                </div>
                <a href="/reset_password" class="forget_password">Mot de passe oublié ?</a><br>
                <button type="submit" class="btn btn-info" style="border-radius: 25px;">S'inscrire</button>
                <button href="/login" class="btn btn-primary" style="border-radius: 25px;">Se connecter </button>
            </form>
        {% elif type_conf == "email_already_confirmed" %}
            <div class="alert alert-warning" role="alert" id="alert_conf">
                <i class="fas fa-check-circle faa-flash animated"></i>
                <a>Votre compte a déjà été confirmé ! Veuillez vous authentifier afin d'accéder à tout les services !</a>
                <i class="fas fa-check-circle faa-flash animated"></i>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <form action="/login" method="post" class="newMemberForm" style="margin-bottom: 25.5% !important;">
                <div class="form-row">
                    <div class="form-group col-lg-8 inp-center">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="material-icons">email</i></span>
                            </div>
                            <input name="email" type="text" class="form-control inp-group-input" placeholder="Courriel" aria-label="Courriel" aria-describedby="basic-addon1" required/>
                        </div>
                    </div>
                    <div class="form-group col-lg-8 inp-center  input_two">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="material-icons">lock_outline</i></span>
                            </div>
                            <input name="password" placeholder="Mot de Passe" class="form-control inp-group-input" type="password" aria-label="Mot de Passe" aria-describedby="basic-addon1" required/>
                        </div>
                    </div>
                </div>
                <a href="/reset_password" class="forget_password">Mot de passe oublié ?</a><br>
                <button type="submit" class="btn btn-info" style="border-radius: 25px;">S'inscrire</button>
                <button href="/login" class="btn btn-primary" style="border-radius: 25px;">Se connecter </button>
            </form>
        {% elif type_conf == "email_expired" %}
            <div class="alert alert-danger" role="alert" id="alert_conf">
                <i class="fas fa-exclamation-circle faa-flash animated"></i>
                <a>Le lien servant à valider votre compte à expiré ! Veuillez entrer votre courriel afin que l'on vous renvoi un lien de confirmation !</a>
                <i class="fas fa-exclamation-circle faa-flash animated"></i>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <form action="/send_new_confirmation_expired" method="post" class="newMemberForm" style="margin-bottom: 25% !important;">
                <div class="form-row">
                    <div class="form-group col-lg-8 inp-center">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="material-icons">email</i></span>
                            </div>
                            <input name="email" type="text" class="form-control inp-group-input" placeholder="Courriel" aria-label="Courriel" aria-describedby="basic-addon1" required/>
                        </div>
                    </div>
                </div>
                <a class="btn btn-light btn-return" href="/" role="button">Retour à l'accueil</a>
                <button type="submit" class="btn btn-success">Renvoyer le courriel<i style="color: saddlebrown;" class="fa fa-email"></i></button>
            </form>
        {% elif type_conf == "reset_password" %}
            <div class="alert alert-success" role="alert" id="alert_conf">
                <i class="fas fa-check-circle faa-flash animated"></i>
                <a>Un courriel vous a été envoyé afin de réinitialiser votre mot de passe !</a>
                <i class="fas fa-check-circle faa-flash animated"></i>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <form action="/reset_password_submit" method="post" class="newMemberForm" style="margin-bottom: 25% !important;">
                <div class="form-row">
                    <div class="form-group col-lg-8 inp-center">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="material-icons">email</i></span>
                            </div>
                            <input name="email" type="text" class="form-control inp-group-input" placeholder="Courriel" aria-label="Courriel" aria-describedby="basic-addon1" required/>
                        </div>
                    </div>
                </div>
                <a class="btn btn-light btn-return" href="/" role="button">Retour à l'accueil</a>
                <button type="submit" class="btn btn-success">Renvoyer le courriel</button>
            </form>
        {% elif type_conf == "reset_password_confirm" %}
            <div class="alert alert-success" role="alert" id="alert_conf">
                <i class="fas fa-check-circle faa-flash animated"></i>
                <a>Votre mot de passe a bien été changé ! Veuillez vous authentifier afin de continuer !</a>
                <i class="fas fa-check-circle faa-flash animated"></i>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <form action="/login" method="post" class="newMemberForm" style="margin-bottom: 25.5% !important;">
                <div class="form-row">
                    <div class="form-group col-lg-8 inp-center">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="material-icons">email</i></span>
                            </div>
                            <input name="email" type="text" class="form-control inp-group-input" placeholder="Courriel" aria-label="Courriel" aria-describedby="basic-addon1" required/>
                        </div>
                    </div>
                    <div class="form-group col-lg-8 inp-center  input_two">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="material-icons">lock_outline</i></span>
                            </div>
                            <input name="password" placeholder="Mot de Passe" class="form-control inp-group-input" type="password" aria-label="Mot de Passe" aria-describedby="basic-addon1" required/>
                        </div>
                    </div>
                </div>
                <a href="/reset_password" class="forget_password">Mot de passe oublié ?</a><br>
                <button type="submit" class="btn btn-info" style="border-radius: 25px;">S'inscrire</button>
                <button href="/login" class="btn btn-primary" style="border-radius: 25px;">Se connecter </button>
            </form>
        {% elif type_conf == "mod_password" %}
            <div class="alert alert-success" role="alert" id="alert_conf">
                <i class="fas fa-check-circle faa-flash animated"></i>
                <a>Votre mot de passe a été modifiée avec succés !</a>
                <i class="fas fa-check-circle faa-flash animated"></i>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <form action="/mes_infos" method="post" id="form_conf">
                <a class="btn btn-light btn-return" href="/" role="button">Retour à l'accueil</a>
                <button type="submit" class="btn btn-info">Voir mes informations <i style="color: white;" class="fas fa-info-circle faa-shake animated"></i></button>
            </form>
        {% elif type_conf == "email_send" %}
            <div class="alert alert-success" role="alert" id="alert_conf">
                <i class="fas fa-check-circle faa-flash animated"></i>
                <a>Votre message a été envoyé avec succés !</a>
                <i class="fas fa-check-circle faa-flash animated"></i>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <form action="/" method="POST" id="form_conf">
                <button type="submit" class="btn btn-light">Retour à l'acceuil</button>
            </form>
        {% endif %}
    </div>
</div>

{% endblock %}
