{% extends "layout.html" %} 
{% block content %}
<div class="container">
    <div class="row">

        <img class="img-logo" src="https://image.noelshack.com/fichiers/2018/16/3/1524068679-logo.png" />
        <h2 class="titre4">Contactez-nous</h2>
        {% if msg %}
            <div class="alert alert-success" role="alert" id="alertGest">
                <i class="fas fa-exclamation-circle faa-flash animated"></i> {{ msg }}
                <i class="fas fa-exclamation-circle faa-flash animated"></i>
            </div>
        {% endif %} 
        {% if error %}
            <div class="alert alert-warning" role="alert" id="alertGest">
                <i class="fas fa-exclamation-circle faa-flash animated"></i> {{ error }}
                <i class="fas fa-exclamation-circle faa-flash animated"></i>
            </div>
        {% endif %}
        <div class="col contact-col-1" style="margin-bottom: 5.5% !important; margin-top: 0% !important;">
            <hr>
            <h5>En personne à notre Agence</h5>
            <p class="card-text" style="margin-top: 20px;">201 Avenue du Président-Kennedy<br>Montréal, QC H2X 3Y7</p>
            <hr>
            <h5>Par Téléphone</h5>
            <p class="card-text" style="margin-top: 20px;"><i class="fas fa-phone" style="color: black !important;"></i> : (438) 926-7297</p>
            <hr>
            <h5>Par Courriel</h5>
            <form action="/contact" method="POST" style="margin-top: 20px;">
                <div class="form-row">
                    {% if login == True %}
                        <div class="form-group col-lg-4">
                            <input name="nom" placeholder="Nom" class="form-control" type="text" value="{{ infos_user[1] }}" required/>
                        </div>
                        <div class="form-group col-lg-8">
                            <input name="email" type="text" class="form-control" placeholder="Courriel" value="{{ infos_user[3] }}" required/>
                        </div>
                    {% else %}
                        <div class="form-group col-lg-4">
                            <input name="nom" placeholder="Nom" class="form-control" type="text" required/>
                        </div>
                        <div class="form-group col-lg-8">
                            <input name="email" type="text" class="form-control" placeholder="Courriel" required/>
                        </div>
                    {% endif %}
                    <div class="form-group col-lg-12">
                        <textarea name="message" rows="4" placeholder="Votre message..." class="form-control" autofocus required></textarea>
                    </div>
                    <input type="submit" class="btn btn-primary btn-center" value="Envoyer" />
                </div>
            </form>
        </div>
        <div class="col contact-col-2" style="margin-bottom: 5.5%;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m11!1m3!1d302.51245129446033!2d-73.56807474769784!3d45.505560388618264!2m2!1f352.99700421940935!2f53.28577849163509!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x4cc91a4ed38d8ad3%3A0x266d6e02dc244eb6!2s201+Avenue+du+Pr%C3%A9sident-Kennedy%2C+Montr%C3%A9al%2C+QC+H2X+3Y7!5e1!3m2!1sfr!2sca!4v1522788202388" width="600" height="521" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock %}
