{% extends "layout.html" %} 
{% block content %}
<div class="container">
    <div class="row">
        <img class="img-logo" src="https://image.noelshack.com/fichiers/2018/16/3/1524068679-logo.png" />

        <h2 class="titre4">Authentification Requise</h2>
        <div class="alert alert-danger" role="alert" id="alert_conf">
            <i class="fas fa-exclamation-circle faa-flash animated"></i>
            <a>L'identifiant ou le mot de passe fourni est incorect !</a>
            <i class="fas fa-exclamation-circle faa-flash animated"></i>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <form action="/login" method="post" class="newMemberForm" style="margin-bottom: 25.5% !important;">
            <div class="form-row">
                <div class="form-group col-lg-8 inp-center">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="material-icons">email</i></span>
                        </div>
                        <input name="email" type="text" class="form-control inp-group-input" placeholder="Courriel" aria-label="Courriel" aria-describedby="basic-addon1" required/>
                    </div>
                </div>
                <div class="form-group col-lg-8 inp-center" style="margin-bottom: 0px !important;">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="material-icons">lock_outline</i></span>
                        </div>
                        <input name="password" placeholder="Mot de Passe" class="form-control inp-group-input" type="password" aria-label="Mot de Passe" aria-describedby="basic-addon1" required/>
                    </div>
                </div>
            </div>
            <a href="/reset_password" class="forget_password">Mot de passe oublié ?</a><br>
            <a href="/new_member_button" type="button" class="btn btn-info a_input" style="border-radius: 25px;">S'inscrire</a>
            <button type="submit" class="btn btn-primary" style="border-radius: 25px;">Se connecter</button>
        </form>
    </div>
</div>

{% endblock %}
