{% extends "layout.html" %} 
{% block content %}
<div class="container">
    <div class="row">
        <img class="img-logo" src="https://image.noelshack.com/fichiers/2018/16/3/1524068679-logo.png" />
        <h2 class="titre4">Fiche de {{ infos_animal[1] }}</h2>
        <div class="card2 card border-dark">
            <div class="card add-animal">
                {% if login %} 
                    {% if list_favoris %} 
                        {% if est_favoris %}
                            <a id="heart_favoris_{{ infos_animal[8] }}" class="card-text heart_fiche_animal a_href_heart" onclick="deleteFavoris('{{ infos_animal[8] }}');" style="color: darkorange;"><i class="fa fa-heart faa-tada animated-hover faa-fast"></i></a> 
                        {% else %}
                            <a id="heart_favoris_{{ infos_animal[8] }}" class="card-text heart_fiche_animal a_href_heart" onclick="addFavoris('{{ infos_animal[8] }}');"><i class="far fa-heart faa-tada animated-hover faa-fast"></i></a> 
                        {% endif %} 
                    {% else %}
                        <a id="heart_favoris_{{ infos_animal[8] }}" class="card-text heart_fiche_animal a_href_heart" onclick="addFavoris('{{ infos_animal[8] }}');"><i class="far fa-heart faa-tada animated-hover faa-fast heart_fiche_animal"></i></a> 
                    {% endif %} 
                {% endif %}
                <img class="img_fiche_animal card-img-top zoom" src="data:;base64,{{ img }}" alt="{{ infos_animal[6] }}" data-toggle="modal" data-target="#image_animal">
                <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel1" aria-hidden="true" id="image_animal">
                    <div class=" modal-dialog modal-dialog-centered" style="max-width: 703px !important;">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img class="modal_image" src="data:;base64,{{ img }}" alt="{{ infos_animal[6] }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ infos_animal[1] }} - {{ infos_animal[3] }} ans</h5>
                <p class="card-text">{{ infos_animal[2] }} - {{ infos_animal[4] }}</p>
                <hr>
                <p class="card-text text-overflow">{{ infos_animal[5] }}</p>
            </div>
            <div class="card-footer text-muted">
                <small class="text-muted">Mis en ligne par {{ infos_animal[9] }} le {{ infos_animal[13] }}</small><br>
                <small class="text-muted">{{ infos_animal[10] }} - {{ infos_animal[11] }} - {{ infos_animal[12] }}</small>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="gestion-btn" style="margin-bottom: 3.5%;">
            <a class="btn btn-warning btn-return" href="/animaux/1" role="button" style="color: white;margin-top: 15px !important;">Retourner aux Résultats</a>
            <a class="btn btn-success btn-return" onclick="reset_form();" role="button" style="color: white;margin-top: 15px !important;" data-toggle="modal" data-target="#modal_contact_user">Contacter le propriétaire</a>
            <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel1" aria-hidden="true" id="modal_contact_user">
                <div class=" modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" style="margin-left: 82px;">Contacter : {{ infos_animal[9] }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                        </div>
                        <div class="modal-body">
                            <form action="/contact_user_animal/{{ infos_animal[8] }}" method="POST" id="form_contact">
                                <div class="form-row">
                                    {% if login %}
                                        <div class="form-group col-lg-4">
                                            <input id="contact_nom" name="nom" placeholder="Nom" class="form-control" type="text" value="{{ infos_user[1] }} {{ infos_user[2] }}" required/>
                                        </div>
                                        <div class="form-group col-lg-8">
                                            <input id="contact_email" name="email_contact" type="email" class="form-control" placeholder="Courriel" value="{{ infos_user[3] }}" required/>
                                    </div>
                                    {% else %}
                                        <div class="form-group col-lg-4">
                                            <input id="contact_nom" name="nom" placeholder="Nom" class="form-control" type="text" required/>
                                        </div>
                                        <div class="form-group col-lg-8">
                                            <input id="contact_email" name="email_contact" type="email" class="form-control" placeholder="Courriel" required/>
                                        </div>
                                    {% endif %}
                                    <div class="form-group col-lg-12">
                                        <textarea id="contact_message" name="message" rows="4" placeholder="Votre message..." class="form-control" autofocus required></textarea>
                                    </div>
                                    <div class="form-group col-lg-12">
                                        <div class="custom-control custom-checkbox my-1 mr-sm-2" style="margin: 0 auto !important; width: 200px;">
                                            <input type="checkbox" class="custom-control-input" name="send_email_cc" id="send_email_cc" value="unchecked">
                                            <label class="custom-control-label" for="send_email_cc" id="check_copy">M'envoyer une copie</label>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary btn-center" id="send_email_to_proprio" value="{{ infos_animal[8] }}" onclick="show_loader();">Envoyer</button>
                                </div>
                            </form>
                            <div id="fond_loader" style="margin: 0 auto;">
                                <div style="margin: 0 auto;" id="loader"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel1" aria-hidden="true" id="modal_email_proprio_success">
                <div class=" modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" style="margin-left: 35%; color: #218838"><i class="fas fa-check-circle faa-flash animated"></i> Succés <i class="fas fa-check-circle faa-flash animated"></i></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-left: 0px;">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                        </div>
                        <div class="modal-body" style="text-align: center;" id="modal_body_contact_success">
                            Votre message a bien été envoyé !
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel1" aria-hidden="true" id="modal_email_proprio_error">
                <div class=" modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" style="margin-left: 35%; color: darkred"><i class="fas fa-exclamation-circle faa-flash animated"></i> Erreur <i class="fas fa-exclamation-circle faa-flash animated"></i></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-left: 0px;">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                        </div>
                        <div class="modal-body" style="text-align: center;" id="modal_body_contact_error">
                            Le message n'a pas été envoyé !
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}
