{% extends "layout.html" %} 
{% block content %}
<div class="container">
    <div class="row">
        <img class="img-logo" src="https://image.noelshack.com/fichiers/2018/16/3/1524068679-logo.png" />
        <h2 class="titre4">Soutien</h2>
        <div class="contact-col-1" style="margin-bottom: 6% !important; margin-top: 0% !important; margin: 0 auto;">
            <hr>
            <h5>En personne à notre Agence</h5>
            <p class="card-text" style="margin-top: 20px;">201 Avenue du Président-Kennedy<br>Montréal, QC H2X 3Y7</p>
            <hr>
            <h5>Par Téléphone</h5>
            <p class="card-text" style="margin-top: 20px;"><i class="fas fa-phone" style="color: black !important;"></i> : (438) 926-7297</p>
            <hr>
            <h5>Par Courriel</h5>
            <form action="/contact" method="POST" style="margin-top: 20px;">
                <div class="form-row">
                    {% if login == True %}
                    <div class="form-group col-lg-4">
                        <input name="nom" placeholder="Nom" class="form-control" type="text" value="{{ infos_user[1] }}" required/>
                    </div>
                    <div class="form-group col-lg-8">
                        <input name="email" type="text" class="form-control" placeholder="Courriel" value="{{ infos_user[3] }}" required/>
                    </div>
                    {% else %}
                    <div class="form-group col-lg-4">
                        <input name="nom" placeholder="Nom" class="form-control" type="text" required/>
                    </div>
                    <div class="form-group col-lg-8">
                        <input name="email" type="text" class="form-control" placeholder="Courriel" required/>
                    </div>
                    {% endif %}
                    <div class="form-group col-lg-12">
                        <textarea name="message" rows="4" placeholder="Votre message..." class="form-control" autofocus required></textarea>
                    </div>
                    <input type="submit" class="btn btn-primary btn-center" value="Envoyer" />
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
