{% extends "layout.html" %} 
{% block content %}

<head>
    <script type="text/javascript">
        $(window).on('load', function() {
            $('.ml11 .letters').each(function() {
                $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>"));
            });

            anime.timeline({
                    loop: true
                })
                .add({
                    targets: '.ml11 .line',
                    scaleY: [0, 1],
                    opacity: [0.5, 1],
                    easing: "easeOutExpo",
                    duration: 700
                })
                .add({
                    targets: '.ml11 .line',
                    translateX: [0, $(".ml11 .letters").width()],
                    easing: "easeOutExpo",
                    duration: 700,
                    delay: 100
                }).add({
                    targets: '.ml11 .letter',
                    opacity: [0, 1],
                    easing: "easeOutExpo",
                    duration: 600,
                    offset: '-=775',
                    delay: function(el, i) {
                        return 34 * (i + 1)
                    }
                }).add({
                    targets: '.ml11',
                    opacity: 0,
                    duration: 1000,
                    easing: "easeOutExpo",
                    delay: 1000
                });
            setTimeout(function() {
                $('.section-left').addClass('move_left');
                $('.section-right').addClass('move_right');
                $('#loading-center').hide().delay(3100);
            }, 3000);
        });

    </script>
</head>
<div id="loading">
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
    <div id="loading-center">
        <h1 class="ml11">
            <span class="text-wrapper">
                    <span class="line line1"></span>
            <span class="letters">Chargement </span>
            </span>
        </h1>
        <div id="loading-center-absolute">
            <div id="fond_loader_2" style="margin: 0 auto;">
                <div id="object"></div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <img class="img-logo" src="https://image.noelshack.com/fichiers/2018/16/3/1524068679-logo.png" />
        <h3 id="descHome">Bienvenue sur notre site d'adoption d'animaux !<br>N'oubliez pas, adopter un animal est un engagement à vie !</h3>

        <h2 class="titre2">Nos Animaux</h2>
        {% if list_animals %}
            <div class="container">
                <div class="row">
                    <div class="card-group">
                        {% for animal in list_animals %}
                            <div class="card border-dark card_home" onclick="window.location='/animaux/fiche/{{ animal.id_animal }}';">
                                <img class="card-img-top zoom" src="data:;base64,{{ animal.file_content }}" alt="{{ animal.file_name }}" />
                                <div class="card-body">
                                    <h5 class="card-title">{{ animal.nom }} - {{ animal.age }} ans</h5>
                                    <p class="card-text">{{ animal.race }}</p>
                                </div>
                                <div class="card-footer text-muted">
                                    <small>Publié le {{ animal.date_publication }}</small>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <form action="/animaux/1" method="POST" id="see_more_pets">
                <button type="submit" class="btn btn-success">En voir plus <i class="fas fa-paw"></i></button>
            </form>
        {% else %}
            <div class="alert alert-success" role="alert" id="no_db">
                <i class="fa fa-paw faa-flash animated"></i>
                <a>Aucun animal n'a été inscrit sur notre plateforme pour le moment ! <i class="fa fa-paw faa-flash animated"></i><br>Veuillez nous rendre visite régulièrement 😉</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
