{% extends "layout.html" %}
{% block content %}
<script type="text/javascript">
    /* SAVE INPUT VALUES 
                https://stackoverflow.com/questions/38930144/keep-input-value-after-refresh-page
                */
    document.getElementById("inp-nom").value = getSavedValue("inp-nom");
    document.getElementById("inp-prenom").value = getSavedValue("inp-prenom");
    document.getElementById("inp-tel").value = getSavedValue("inp-tel");
    document.getElementById("inp-adrss").value = getSavedValue("inp-adrss");
    document.getElementById("inp-ville").value = getSavedValue("inp-ville");
    document.getElementById("inp-pro").value = getSavedValue("inp-pro");
    document.getElementById("inp-code").value = getSavedValue("inp-code");

    //Save the value function - save it to localStorage as (ID, VALUE)
    function saveValue(e) {
        var id = e.id;
        var val = e.value;
        localStorage.setItem(id, val);
    }

    function getSavedValue(v) {
        if (localStorage.getItem(v) === null) {
            return "";
        }
        return localStorage.getItem(v);
    }
    // ---- END SAVE INPUT VALUE -----

</script>
<div class="container">
    <div class="row">
        <img class="img-logo" src="https://image.noelshack.com/fichiers/2018/16/3/1524068679-logo.png" /> 
        {% if errors %}
            <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel1" aria-hidden="true" id="modal_user_exists">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" style="margin-left: 35%; color: #ffc107"><i class="fas fa-exclamation-circle faa-flash animated"></i> Attention <i class="fas fa-exclamation-circle faa-flash animated"></i></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-left: 0px;">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                        </div>
                        <div class="modal-body" style="text-align: center;">
                            {% for error in errors %} 
                                {{ error }}<br> 
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %} 
        {% if msg %}
            <h2 class="titre3">Authentification Requise !</h2>
            <div class="alert alert-success" role="alert" id="alertGest" style="text-align: center; margin-top: 10% !important;">
                <i class="fas fa-exclamation-circle faa-flash animated"></i> 
                    {{ msg }}
                <i class="fas fa-exclamation-circle faa-flash animated"></i>
            </div>
            <form action="/login" method="post" class="newMemberForm" style="margin-bottom: 25.5% !important;">
                <div class="form-row">
                    <div class="form-group col-lg-8 inp-center">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="material-icons">email</i></span>
                            </div>
                            <input name="email" type="text" class="form-control inp-group-input" placeholder="Courriel" aria-label="Courriel" aria-describedby="basic-addon1" required/>
                        </div>
                    </div>
                    <div class="form-group col-lg-8 inp-center input_two">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="material-icons">lock_outline</i></span>
                            </div>
                            <input name="password" placeholder="Mot de Passe" class="form-control inp-group-input" type="password" aria-label="Mot de Passe" aria-describedby="basic-addon1" required/>
                        </div>
                    </div>
                </div>
                <a href="/reset_password" class="forget_password">Mot de passe oublié ?</a><br>
                <button href="/new_member_button" class="btn btn-info" style="border-radius: 25px;">S'inscrire</button>
                <button type="submit" class="btn btn-primary" style="border-radius: 25px;">Se connecter</button>
            </form>
        {% elif reset %}
            <h2 class="titre3">Réinitialiser votre Mot de Passe</h2>
            <form action="/reset_password_change" method="post" class="newMemberForm" style="margin-bottom: 25.5% !important;">
                <h6 style="color: white">Veuillez entrer un nouveau mot de passe</h6>
                <div class="form-row">
                    <div class="form-group col-lg-8 inp-center">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="material-icons">email</i></span>
                            </div>
                            <input name="email" type="text" class="form-control inp-group-input" placeholder="Courriel" aria-label="Courriel" aria-describedby="basic-addon1" required/>
                        </div>
                    </div>
                    <div class="form-group col-lg-8 inp-center input_two">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="material-icons">lock_outline</i></span>
                            </div>
                            <input name="password" placeholder="Nouveau Mot de Passe" class="form-control inp-group-input" type="password" aria-label="Mot de Passe" aria-describedby="basic-addon1" required/>
                        </div>
                    </div>
                </div>
                <a href="/reset_password" class="forget_password">Mot de passe oublié ?</a><br>
                <button href="/new_member_button" class="btn btn-info" style="border-radius: 25px;">S'inscrire</button>
                <button type="submit" class="btn btn-primary" style="border-radius: 25px;">Se connecter</button>
            </form>
        {% else %}
            <h2 class="titre3">Formulaire d'inscription</h2>
            <form action="/new_member_submit" method="post" class="newMemberForm">
                <div class="form-row">
                    <div class="form-group col-lg-8 inp-center">
                        <h6 style="text-align: center; color: white;">Mes Renseignements</h6>
                        <hr>
                    </div>
                    <div class="form-group col-lg-6">
                        <input name="nom" placeholder="Nom" class="form-control" type="text" required id="inp-nom" onkeyup='saveValue(this);' />
                    </div>
                    <div class="form-group col-lg-6">
                        <input name="prenom" placeholder="Prénom" class="form-control" type="text" required id="inp-prenom" onkeyup='saveValue(this);' />
                    </div>
                    <div class="form-group col-lg-8 inp-center">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="material-icons">phone</i></span>
                            </div>
                            <input name="telephone" class="form-control phone_us inp-group-input" type="tel" id="inp-tel" aria-label="Téléphone" aria-describedby="basic-addon1" required pattern=".{14,}" title="Format requis : (000) 000-0000" onkeyup='saveValue(this);' />
                        </div>
                        <br>
                        <h6 style="text-align: center; color: white;">Mon Adresse</h6>
                        <hr>
                    </div>
                    <div class="form-group col-lg-10 inp-center">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="material-icons">home</i></span>
                            </div>
                            <input name="adresse" placeholder="Adresse" class="form-control inp-group-input" type="text" id="inp-adrss" required onkeyup='saveValue(this);' />
                        </div>
                    </div>
                    <div class="form-group col-lg-4 inp-center">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="material-icons">location_city</i></span>
                            </div>
                            <input name="ville" placeholder="Ville" class="form-control inp-group-input" type="text" id="inp-ville" required onkeyup='saveValue(this);' />
                        </div>
                    </div>
                    <div class="form-group col-lg-4 inp-center">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="material-icons">map</i></span>
                            </div>
                            <select class="form-control inp-group-input" name="province" id="inp-pro" required onchange='saveValue(this);'>
                                        <option value="">Province</option>
                                        <option value="Alberta">AB</option>
                                        <option value="Colombie Britanique">BC</option>     
                                        <option value="Manitoba">MB</option>
                                        <option value="Nouveau-Brunswick">NB</option>
                                        <option value="Terre-Neuve-et-Labrador">NL</option>
                                        <option value="Nouvelle-Écosse">NS</option>
                                        <option value="Territoires du Nord-Ouest">NT</option>     
                                        <option value="Nunavut">NU</option>
                                        <option value="Ontario">ON</option>
                                        <option value="Île-du-Prince-Édouard">PE</option>
                                        <option value="Québec">QC</option>     
                                        <option value="Saskatchewan">SK</option>
                                        <option value="Yukon">YT</option> 
                                    </select>
                        </div>
                    </div>
                    <div class="form-group col-lg-4 inp-center">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="material-icons">place</i></span>
                            </div>
                            <input name="code_postal" class="form-control postal_code_ca inp-group-input" type="text" id="inp-code" required pattern=".{7,}" title="Format requis : X9X 9X9" onkeyup='saveValue(this);' />
                        </div>
                    </div>
                    <div class="form-group col-lg-8 inp-center">
                        <h6 style="text-align: center; color: white;">Mes Informations de Connexion</h6>
                        <hr>
                    </div>
                    <div class="form-group col-lg-8 inp-center">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="material-icons">email</i></span>
                            </div>
                            <input name="email" type="text" id="inp-email" class="form-control inp-group-input" placeholder="Courriel" aria-label="Courriel" aria-describedby="basic-addon1" required/>
                        </div>
                    </div>
                    <div class="form-group col-lg-8 inp-center">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="force"><i class="material-icons">lock_outline</i></span>
                            </div>
                            <input name="password" id="password" placeholder="Mot de Passe" class="form-control inp-group-input" type="password" aria-label="Mot de Passe" aria-describedby="force" onkeyup="return passwordChanged();" pattern=".{6,}" maxlength="25" title="6 caractères minimum" required/>
                            <div id="password_strength">
                                <span id="force_text"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-info btn-center" value="S'inscrire" />
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}
