{% extends "layout.html" %} 
{% block content %}
<div class="container">
    <div class="row">
        <img class="img-logo" src="https://image.noelshack.com/fichiers/2018/16/3/1524068679-logo.png" />
        <h2 class="titre3">Formulaire d'inscription de votre Animal</h2>

        {% if msg %}
            <div class="alert alert-success" role="alert" id="alertGest">
                <i class="fas fa-exclamation-circle faa-flash animated"></i> 
                    {{ msg }}
                <i class="fas fa-exclamation-circle faa-flash animated"></i>
            </div>
        {% endif %} 
        {% if img %} 
            {{ img }} 
        {% endif %} 
        {% if limit == 0 %}
            <div class="newAnimalForm">
                <form action="/new_animal_submit" method="post" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="form-group col-lg-10 inp-center">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-camera"></i></span>
                                </div>
                                <input name="imgAnimal" type="file" class="form-control inp-group-input" id="inputImgAnimal" placeholder="Photo de votre animal" accept="image/*">
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <input name="nom" placeholder="Nom" class="form-control" type="text" required/>
                        </div>
                        <div class="form-group col-lg-6">
                            <input name="type" placeholder="Type" class="form-control" type="text" required/>
                        </div>
                        <div class="form-group col-lg-6">
                            <input name="race" placeholder="Race" class="form-control" type="text" required/>
                        </div>
                        <div class="form-group col-lg-6">
                            <input name="age" placeholder="Âge" class="form-control" type="number" min="0" required/>
                        </div>

                        <div class="form-group col-lg-12">
                            <textarea name="desc" rows="4" placeholder="Description" class="form-control" required></textarea>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-success btn-center" value="Ajouter mon Animal" />
                </form>
            </div>
        </div>
    </div>
        {% else %}
            <div class="alert alert-warning" role="alert" id="alertGest" style="margin-top: 20%;">
                <i class="fas fa-check-circle faa-flash animated"></i>
                <a>Attention ! Vous avez déjà un animal inscrit !</a>
                <i class="fas fa-check-circle faa-flash animated"></i>
            </div>
            </div>
            </div>
            <div class="container">
                <div class="row">
                    <form action="/my_adds" method="post" id="see_more_pets_3">
                        <button type="submit" class="btn btn-warning">Voir mon annonce <i style="color: saddlebrown;" class="fas fa-paw faa-shake animated"></i></button>
                    </form>
                </div>
            </div>
        {% endif %} 
{% endblock %}
