<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Adoption d'Animaux</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" charset="utf-8">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome-animation.min.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic/dist/semantic.min.css')}}">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="navBody">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 justify-content-center">
                    <li>
                        <form action="/search/search" method="post" class="form-inline my-2 my-lg-0">
                            <input name="query" class="form-control mr-sm-2" type="search" placeholder="Rechercher un animal" aria-label="Search" id="search_bar">
                            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                        </form>
                    </li>
                    <div class="center-li">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Accueil</a>
                        </li>
                        <li class="nav-item ellipsis">
                            <i class="fas fa-ellipsis-v"></i>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/animaux/1">Animaux</a>
                        </li>
                    </div>
                </ul>
                {% if login == True %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" id="nav_bar_log"><i class="fas fa-user-circle"></i> {{ infos_user[1] }} {{ infos_user[2] }}</a>
                            <div class="dropdown-menu drop1">
                                <div class="container">
                                    <div class="row">
                                        <ul id="list_log">
                                            <div class="dropdown-div2">
                                                <li class="li-center">
                                                    {% if limit == 1 %}
                                                        <a class="a_href_center" data-toggle="tooltip" data-placement="bottom" title="Limites d'annonce atteinte">Ajouter un Animal</a> 
                                                    {% else %}
                                                        <a href="/add_new_animal" class="a_href_center">Ajouter un Animal</a> 
                                                    {% endif %}
                                                </li>
                                            </div>
                                            <div class="dropdown-div2">
                                                <li class="li-center">
                                                    <a href="/mes_annonces" class="a_href_center">Mes Annonces</a>
                                                </li>
                                            </div>
                                            <div class="dropdown-div2">
                                                <li class="li-center">
                                                    <a href="/mes_favoris" class="a_href_center">Mes Favoris</a>
                                                </li>
                                            </div>
                                            <div class="dropdown-div2">
                                                <li class="li-center">
                                                    <a href="/mes_infos" class="a_href_center">Modifier mes Informations</a>
                                                </li>
                                            </div>
                                            <form action="/logout" method="post">
                                                <hr>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-danger btn-center">Se déconnecter <i class="fas fa-power-off"></i></button>
                                                </div>
                                            </form>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" id="nav_bar_log">Se connecter / S'inscrire</a> 
                            {% if msg_log %}
                                <div class="dropdown-menu drop2 show">
                            {% else %}
                                <div class="dropdown-menu drop2">
                            {% endif %}
                            <div class="container">
                                <div class="row">
                                    <div class="dropdown-div">
                                        <a>Se Connecter</a>
                                    </div>
                                    {% if msg_log %}
                                        <div class="alert alert-danger" role="alert" id="alertLog">
                                            {{ msg_log }}
                                            <i class="fas fa-exclamation-circle faa-flash animated i-center"></i>
                                        </div>
                                        <form action="/login" method="post" class="form_log_1">
                                            <div class="form-group">
                                                <div class="input-group inp-group-login">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text invalid" id="basic-addon1"><i class="material-icons">email</i></span>
                                                    </div>
                                                    <input type="text" class="form-control is-invalid inp-group-input" name="email" placeholder="Email" required>
                                                </div>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text invalid" id="basic-addon1"><i class="material-icons">lock_outline</i></span>
                                                    </div>
                                                    <input type="password" class="form-control is-invalid inp-group-input" name="password" placeholder="Mot de Passe" required>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Se connecter</button>
                                            </div>
                                            <hr>
                                        </form>
                                    {% else %}
                                    <form action="/login" method="post" class="form_log_1">
                                        <div class="form-group">
                                            <div class="input-group inp-group-login">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1"><i class="material-icons">email</i></span>
                                                </div>
                                                <input type="text" class="form-control inp-group-input" name="email" placeholder="Email">
                                            </div>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1"><i class="material-icons">lock_outline</i></span>
                                                </div>
                                                <input type="password" class="form-control inp-group-input" name="password" placeholder="Mot de Passe">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Se connecter</button>
                                        </div>
                                        <hr>
                                    </form>
                                    {% endif %}
                                    <div class="dropdown-div">
                                        <a>Nouveau Membre ?</a><br>
                                    </div>
                                    <form action="/new_member_button" method="post" class="form_log_2">
                                        <button type="submit" class="btn btn-info btn-center">S'inscrire</button>
                                    </form>
                                </div>
                            </div>
                            </div>
                        </li>
                    </ul>
        {% endif %}
        </div>
</nav>
</header>

{% block content %}
{% endblock %}

    <footer class="footer">
        <div class="container">
            <div class="row pt-5 mb-3 text-center d-flex justify-content-center">
                <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="/about_us">A propos</a>
                    </h6>
                </div>
                <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="/conditions">Conditions</a>
                    </h6>
                </div>
                <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="/partenaires">Partenaires</a>
                    </h6>
                </div>
                <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="/help">Soutien</a>
                    </h6>
                </div>
                <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="/contact_us">Contact</a>
                    </h6>
                </div>
            </div>
            <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
            <div class="row pb-3" style="height: 41px;">
                <div class="col-md-12" style="text-align: center;">
                    <div class="mb-5 flex-center">
                        <a href="/" class="fb-ic">
                            <i class="fab fa-facebook-f fa-lg white-text mr-md-4"> </i>
                        </a>
                        <a href="/" class="tw-ic">
                            <i class="fab fa-twitter fa-lg white-text mr-md-4"> </i>
                        </a>
                        <a href="/" class="gplus-ic">
                            <i class="fab fa-google-plus-g fa-lg white-text mr-md-4"> </i>
                        </a>
                        <a href="/" class="li-ic">
                            <i class="fab fa-linkedin-in fa-lg white-text mr-md-4"> </i>
                        </a>
                        <a href="/" class="ins-ic">
                            <i class="fab fa-instagram fa-lg white-text mr-md-4"> </i>
                        </a>
                        <a href="/" class="pin-ic">
                            <i class="fab fa-pinterest fa-lg white-text"> </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright py-3 text-center">
            © 2018 Copyright - Adrien LOMBARD
            <p>Contact : <a style="color: #055fbf" href="mailto:lombard.adrien@courrier.uqam.ca">lombard.adrien@courrier.uqam.ca</a></p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/jquery.mask.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/password_strength.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
