{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <img class="img-logo" src="https://image.noelshack.com/fichiers/2018/16/3/1524068679-logo.png"/>
            <h2 class="titre4">Mes informations personnelles</h2>
            {% if msg %}
                <div class="alert alert-success" role="alert" id="alertGest">
                    <i class="fas fa-exclamation-circle faa-flash animated"></i> 
                    {{ msg }} 
                    <i class="fas fa-exclamation-circle faa-flash animated"></i>
                </div>
            {% endif %}
            {% if error %}
                <div class="alert alert-warning" role="alert" id="alertGest">
                    <i class="fas fa-exclamation-circle faa-flash animated"></i> 
                    {{ error }} 
                    <i class="fas fa-exclamation-circle faa-flash animated"></i>
                </div>
            {% endif %}
            <div class="card3 card border-dark" style="margin-bottom: 35%;">
                <div class="btn-gestion2">
                    <a data-toggle="modal" data-target="#modal_mod_user" onclick="select_option('{{ infos_user[7] }}')">
                        <i class="fas fa-edit faa-shake animated-hover" style="color: #007bff; cursor: pointer; padding-right: 10px;" data-toggle="tooltip" data-placement="bottom" title="Modifier"></i>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ infos_user[1] }} - {{ infos_user[2] }}</h5>
                    <p class="card-text"><i class="fas fa-at"></i> : {{ infos_user[3] }}</p>
                    <p class="card-text"><i class="fas fa-phone"></i> : {{ infos_user[4] }}</p>
                    <p class="card-text"><i class="fas fa-home"></i> : {{ infos_user[5] }} - {{ infos_user[6] }}<br>{{ infos_user[8] }} - {{ infos_user[7]|upper }} - </p>
                </div>
            </div>            
            <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel1" aria-hidden="true" id="modal_mod_user">
                <div class=" modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" style="margin-left: 27%;">Modifier mes informations</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"  style="margin-left: 0px;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/mod_user" method="POST" enctype="multipart/form-data"> 
                                <div class="form-row">
                                    <div class="form-group col-lg-8 inp-center">
                                        <h6 style="text-align: center;">Mes Renseignements</h6>
                                        <hr>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <input name="nom" placeholder="Nom" class="form-control" type="text" value="{{ infos_user[1] }}" required/>                        
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <input name="prenom" placeholder="Prénom" class="form-control" type="text" value="{{ infos_user[2] }}" required/>                        
                                    </div>
                                    <div class="form-group col-lg-7 inp-center">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-phone"></i></span>
                                            </div>
                                            <input name="tel" class="form-control phone_us inp-group-input" type="tel" value="{{ infos_user[4] }}" required/>                        
                                        </div> 
                                    </div>
                                    <div class="form-group col-lg-8 inp-center">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-at"></i></span>
                                            </div>
                                            <input name="email" placeholder="" class="form-control inp-group-input" type="email" value="{{ infos_user[3] }}" required readonly 
                                                data-toggle="tooltip" data-placement="bottom" title="Vous ne pouvez pas modifier votre courriel !"/>         
                                        </div>
                                        <div class="input-reset_password">
                                            <a href="/mod_password">Modifier mon Mot de Passe</a>
                                        </div>
                                        <br>
                                        <h6 style="text-align: center;">Mon Adresse</h6>
                                        <hr>
                                    </div>
                                    <div class="form-group col-lg-10 inp-center">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-home"></i></span>
                                            </div>
                                            <input name="adresse" placeholder="Adresse" class="form-control inp-group-input" type="text" value="{{ infos_user[5] }}" required/>         
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 inp-center">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-building"></i></span>
                                            </div>
                                            <input name="ville" placeholder="Ville" class="form-control inp-group-input" type="text" value="{{ infos_user[6] }}" required/>                        
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 inp-center">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-map"></i></span>
                                            </div>
                                            <select class="form-control inp-group-input" name="province" id="select_province" required>
                                                    <option value="">Province</option>
                                                    <option value="Alberta">AB</option>
                                                    <option value="Colombie Britanique">BC</option>     
                                                    <option value="Manitoba">MB</option>
                                                    <option value="Nouveau-Brunswick">NB</option>
                                                    <option value="Terre-Neuve-et-Labrador">NL</option>
                                                    <option value="Nouvelle-Écosse">NS</option>
                                                    <option value="Territoires du Nord-Ouest">NT</option>     
                                                    <option value="Nunavut">NU</option>
                                                    <option value="Ontario">ON</option>
                                                    <option value="Île-du-Prince-Édouard">PE</option>
                                                    <option value="Québec">QC</option>     
                                                    <option value="Saskatchewan">SK</option>
                                                    <option value="Yukon">YT</option> 
                                                </select> 
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 inp-center">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-map-pin"></i></span>
                                            </div>
                                            <input name="code_postal" class="form-control postal_code_ca inp-group-input" type="text" required pattern=".{7,}" title="Format requis : X9X 9X9" value="{{ infos_user[8] }}"/>                        
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-8 inp-center">
                                        <hr>                        
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-outline-primary btn-center" value="Modifier"/> 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
{% endblock %}