{% extends "layout.html" %} 
{% block content %}
<div class="container">
    <div class="row">
        <img class="img-logo" src="https://image.noelshack.com/fichiers/2018/16/3/1524068679-logo.png" />
        <h2 class="titre4">Mes Favoris</h2>
        {% if list_favoris %}
        <div id="carousel_favoris" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for favoris in list_favoris %} 
                    {% if loop.index0 == 0 %}
                        <li data-target="#carousel_favoris" data-slide-to="{{ loop.index0 }}" class="active"></li>
                    {% else %}
                        <li data-target="#carousel_favoris" data-slide-to="{{ loop.index0 }}" class=""></li>
                    {% endif %} 
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for favoris in list_favoris %} 
                    {% if loop.index0 == 0 %}
                    <div class="carousel-item active" id="profile-container_2">
                        <img class="d-block w-100" src="data:;base64,{{ favoris.file_content }}" alt="{{ favoris.file_name }}" style="width: 900px !important; height:500px !important;" />
                        <div id="modifier" class="overlay_2" onclick="window.location='/animaux/fiche/{{ favoris.id_animal }}';">
                            <div class="text">Voir sa Fiche </div>
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <a id="heart_favoris_{{ favoris.id_animal }}" class="card-text heart_carousel a_href_heart" onclick="deleteFavoris('{{ favoris.id_animal }}','{{ infos_user[3] }}');" style="color: darkorange;">
                                            <i class="fa fa-heart faa-tada animated-hover faa-fast"></i>
                                        </a>
                            <h5>{{ favoris.nom }}</h5>
                            <p>{{ favoris.age }} ans</p>
                            <p>{{ favoris.race }}</p>
                        </div>
                    </div>
                    {% else %}
                    <div class="carousel-item" id="profile-container_2">
                        <img class="d-block w-100" src="data:;base64,{{ favoris.file_content }}" alt="{{ favoris.file_name }}" style="width: 900px !important; height:500px !important;" />
                        <div id="modifier" class="overlay_2" onclick="window.location='/animaux/fiche/{{ favoris.id_animal }}';">
                            <div class="text">Voir sa Fiche </div>
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <a id="heart_favoris_{{ favoris.id_animal }}" class="card-text heart_carousel a_href_heart" onclick="deleteFavoris('{{ favoris.id_animal }}','{{ infos_user[3] }}');" style="color: darkorange;">
                                            <i class="fa fa-heart faa-tada animated-hover faa-fast"></i>
                                        </a>
                            <h5>{{ favoris.nom }}</h5>
                            <p>{{ favoris.age }} ans</p>
                            <p>{{ favoris.race }}</p>
                        </div>
                    </div>
                    {% endif %} 
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carousel_favoris" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
            <a class="carousel-control-next" href="#carousel_favoris" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
        </div>
        {% else %}
        <div class="alert alert-success" role="alert" id="alertGest" style="margin-top: 15%;">
            <i class="fas fa-check-circle faa-flash animated"></i>
            <a>Vous n'avez aucun favoris selectionné pour le moment !</a>
            <i class="fas fa-check-circle faa-flash animated"></i>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <form action="/animaux/1" method="POST" id="see_more_pets" style="margin-bottom: 33% !important;">
            <button type="submit" class="btn btn-warning">Voir les animaux <i style="color: saddlebrown;" class="fas fa-paw faa-shake animated"></i></button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
