{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <img class="img-logo" src="https://image.noelshack.com/fichiers/2018/16/3/1524068679-logo.png"/>
            <h2 class="titre4">Modification du Mot de Passe</h2>
            {% if errors %}
                <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel1" aria-hidden="true" id="modal_user_exists">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" style="margin-left: 35%; color: #ffc107"><i class="fas fa-exclamation-circle faa-flash animated"></i> Attention <i class="fas fa-exclamation-circle faa-flash animated"></i></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"  style="margin-left: 0px;">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="text-align: center;">
                                {% for error in errors %}
                                    {{ error }}<br>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>    
            {% endif %}
            <form action="/mod_password_submit" method="post" class="newMemberForm" style="margin-bottom: 25.5% !important;">
                <h6 style="color: white">Veuillez entrer un nouveau mot de passe</h6>
                <div class="form-row">
                    <div class="form-group col-lg-8 inp-center">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="material-icons">email</i></span>
                            </div>
                            <input name="email" type="text" class="form-control inp-group-input" placeholder="Courriel" aria-label="Courriel" aria-describedby="basic-addon1" required/>
                        </div>    
                    </div>
                    <div class="form-group col-lg-8 inp-center">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="force"><i class="material-icons">lock_outline</i></span>
                            </div>
                            <input name="password" id="password" placeholder="Mot de Passe" class="form-control inp-group-input" type="password" aria-label="Mot de Passe" aria-describedby="force" 
                            onkeyup="return passwordChanged();" pattern=".{6,}" maxlength="25" title="6 caractères minimum" required/>
                            <div id="password_strength">
                                <span id="force_text"></span>
                            </div>
                        </div>   
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Changer</button>
            </form>
        </div>
    </div>
{% endblock %}