{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <img class="img-logo" src="https://image.noelshack.com/fichiers/2018/16/3/1524068679-logo.png"/>
            
            <h2 class="titre3">Mes Annonce</h2>
            {% if msg %}
                <div class="alert alert-success" role="alert" id="alert_no_adds">
                    <i class="fas fa-exclamation-circle faa-flash animated"></i> 
                    {{ msg }} 
                    <i class="fas fa-exclamation-circle faa-flash animated"></i>
                </div>
            {% endif %}
            {% if error %}
                <div class="alert alert-warning" role="alert" id="alert_no_adds">
                    <i class="fas fa-exclamation-circle faa-flash animated"></i> 
                    {{ error }} 
                    <i class="fas fa-exclamation-circle faa-flash animated"></i>
                </div>
                <div class="container">
                    <div class="row">
                        <form action="/add_new_animal" method="post" id="form_conf">
                            <a class="btn btn-light btn-return" href="/" role="button">Retour à l'accueil</a>
                            <button type="submit" class="btn btn-success">Ajouter une annonce <i class="fas fa-paw faa-shake animated"></i></button>
                        </form>
                    </div>
                </div>
            {% endif %}
            {% if exists == True  %}
            <div class="card3 card border-dark">
                <div class="btn-gestion">
                    <a data-toggle="modal" data-target="#modal_mod_animal">
                        <i class="fas fa-edit faa-shake animated-hover" style="color: #007bff; cursor: pointer; padding-right: 10px;" data-toggle="tooltip" data-placement="bottom" title="Modifier"></i>
                    </a>
                    <a data-toggle="modal" data-target="#modal_del_infos_animal">
                        <i class="fas fa-trash-alt faa-shake animated-hover" style="color: #dc3545; cursor: pointer;" data-toggle="tooltip" data-placement="bottom" title="Supprimer"></i>
                    </a>
                </div>
                <div class="card add-animal">   
                    <img class="img_fiche_animal card-img-top zoom" src="data:;base64,{{ img }}" alt="{{ infos_animal[6] }}" data-toggle="modal" data-target="#image_animal">
                    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel1" aria-hidden="true" id="image_animal">
                        <div class=" modal-dialog modal-dialog-centered" style="max-width: 703px !important;">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img  class="modal_image" src="data:;base64,{{ img }}" alt="{{ infos_animal[6] }}"/>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ infos_animal[1] }} - {{ infos_animal[3] }} ans</h5>
                    <p class="card-text">{{ infos_animal[2] }} - {{ infos_animal[4] }}</p>
                    <hr>
                    <p class="card-text text-overflow">{{ infos_animal[5] }}</p>
                    <hr>
                    <p class="card-text"><small class="text-muted">{{ infos_animal[10] }} - {{ infos_animal[11] }} - {{ infos_animal[12] }}</small></p>
                </div>
            </div>            
            <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel1" aria-hidden="true" id="modal_mod_animal">
                <div class=" modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" style="margin-left: 27%;">Modifier mon annonce</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"  style="margin-left: 0px;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/mod_animal/{{ infos_animal[8] }}" method="POST" enctype="multipart/form-data"> 
                                <div class="form-row">
                                    <div class="form-group col-lg-12" id="profile-container">
                                        <img id="animal_image" src="data:;base64,{{ img }}" alt="{{ infos_animal[6] }}" width="100" height="100"/>
                                        <div id="modifier" class="overlay">
                                            <div class="text">Modifier</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-10 inp-center" id="input_img">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-camera"></i></span>
                                            </div>
                                        <input name="imgAnimal" type="file" class="form-control" id="inputImgAnimal" placeholder="Photo de votre animal" accept="image/*">
                                        </div>    
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <input name="nom" placeholder="Nom" class="form-control" type="text" value="{{ infos_animal[1] }}" required autofocus/>                        
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <input name="type" placeholder="Type" class="form-control" type="text" value="{{ infos_animal[2] }}" required/>                        
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <input name="race" placeholder="Race" class="form-control" type="text" value="{{ infos_animal[4] }}" required/>                        
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <input name="age" placeholder="Âge" class="form-control" type="number" min="0" value="{{ infos_animal[3] }}" required/>                        
                                    </div>

                                    <div class="form-group col-lg-12">
                                        <textarea name="desc" rows="4" placeholder="Description" class="form-control" required>{{ infos_animal[5] }}</textarea>                        
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-outline-primary btn-center" value="Modifier"/> 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel1" aria-hidden="true" id="modal_del_infos_animal">
                <div class=" modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" style="margin-left: 27%;">Supprimer mon annonce</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"  style="margin-left: 0px;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="text-align: center;">
                            <form action="/del_animal/{{ infos_animal[8] }}" method="POST" enctype="multipart/form-data"> 
                                <h6>Voulez-vous vraiment supprimer votre annonce ?</h6>
                                <input type="reset" class="btn btn-outline-primary" value="Retour" data-dismiss="modal" aria-label="Close"/> 
                                <input type="submit" class="btn btn-outline-danger" value="Supprimer mon annonce"/> 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>    
    </div>
{% endblock %}