{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <img class="img-logo" src="https://image.noelshack.com/fichiers/2018/16/3/1524068679-logo.png"/>
            <h2 class="titre4">Patenaires</h2>
            <div class="contact-col-1">
                <p>EN COURS DE DÉVELOPPEMENT</p>
            </div>
        </div>
    </div>
{% endblock %}