{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <img class="img-logo" src="https://image.noelshack.com/fichiers/2018/16/3/1524068679-logo.png"/>
            <h2 class="titre4">Réinitialisation du Mot de Passe</h2>
        </div>
    </div>
            <form action="/reset_password_submit" method="post" class="newMemberForm" style="margin-bottom: 25.5% !important;">
                <div class="form-row">
                    <div class="form-group col-lg-6 inp-center">
                        <h5 style="color: white; margin-bottom: 25px;">Veuillez entrer votre courriel afin de vous envoyer un lien de réinitialisation !</h5>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="material-icons">email</i></span>
                            </div>
                            <input name="email" type="text" class="form-control inp-group-input" placeholder="Courriel" aria-label="Courriel" aria-describedby="basic-addon1" required/>
                        </div>    
                    </div>
                </div>
                <a type="button" id="a_retour" class="btn btn-info" style="border-radius: 25px;">Retour</a>
                <button type="submit" class="btn btn-primary" style="border-radius: 25px;">Réinitialiser</button>            
            </form>
{% endblock %}