{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            {% if list_result|length == 0 %}
                <img class="img-logo" src="https://image.noelshack.com/fichiers/2018/16/3/1524068679-logo.png"/>
                <div class="container">
                    <div class="row">
                        <div class="alert alert-warning" role="alert" id="alertGest" style="margin-top: 20%; margin-bottom: 40.5%;">
                            <i class="fas fa-exclamation-circle faa-flash animated"></i> 
                                <a>Aucun résultat trouvé pour <a style="color: black; text-decoration:underline; font-style: italic;"> {{ query }}</a> </a>
                            <i class="fas fa-exclamation-circle faa-flash animated"></i>
                        </div>
                    </div>
                </div>
            {% else %}
                <img class="img-logo" src="https://image.noelshack.com/fichiers/2018/16/3/1524068679-logo.png"/>
                <h2 class="titre4">Résultats pour :<a style="color: black;"> {{ query }}</a></h2>
                <div class="list-group" id="filter">
                    <div class="list-group-item" style="text-align: center;" id="toggle_filter" onclick="show_filter()">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a><b><i class="fa fa-filter faa-shake animated-hover"></i></b></a>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item" style="text-align: center;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a><b><i class="fa fa-filter"></i> Filtrer</b></a><i id="reset_filter" class="far fa-trash-alt faa-wrench animated-hover filter_reset"></i>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item" id="filter_choices">
                    </div>
                    <div class="list-group-item">
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse" href="#collapse_type" aria-expanded="true" aria-controls="collapse_type"
                                 onclick="collapse_categ('collapse_type', 'arrow_down_type');">
                                <a><b>Par Type</b><i id="arrow_down_type" class="fa fa-angle-down filter_down arrow_categ"></i></a>
                            </div>
                            <div id="collapse_type" class="panel-collapse collapse collapse_categ">
                                <ul class="list-group">
                                    {% for type in filter_type %}
                                    <div class="custom-control custom-radio">
                                        <li class="under-list-border wbk_button">
                                            <input type="radio" id="filter_{{ type.type }}" name="customRadio" class="custom-control-input" onchange="onClick_filter('{{ type.type }}', 'type');">
                                            <label class="custom-control-label" for="filter_{{ type.type }}">{{ type.type }} ({{ type.nb }})</label>
                                        </li>
                                    </div>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse" href="#collapse_race" aria-expanded="true" aria-controls="collapse_race"
                                 onclick="collapse_categ('collapse_race', 'arrow_down_type_race');">
                                <a><b>Par Race</b><i id="arrow_down_type_race" class="fa fa-angle-down filter_down arrow_categ"></i></a>
                            </div>
                            <div id="collapse_race" class="panel-collapse collapse collapse_categ">
                                <div class="list-group">
                                    <ul class="list-group">
                                    {% for type in filter_type %}
                                        <div class="panel-heading under-list-border wbk_button" data-toggle="collapse" href="#collapse_{{ type.type}}" aria-expanded="true" aria-controls="collapse_{{ type.type }}" 
                                             onclick="collapse_sous_categ_race('collapse_{{ type.type}}', 'arrow_down_race_{{ type.type}}');">
                                            <a><b>{{ type.type }} ({{ type.nb }})</b><i id="arrow_down_race_{{ type.type}}" class="fa fa-angle-down filter_down arrow_race"></i></a>
                                        </div>
                                        <div id="collapse_{{ type.type}}" class="panel-collapse collapse collapse_race">
                                            <div class="list-group">
                                                <ul class="list-group under-list">
                                                {% for race in filter_race %}
                                                    {% if type.type == race.type %}
                                                    <div class="custom-control custom-radio">
                                                        <li class="under-list-border wbk_button">
                                                            <input type="radio" id="filter_{{ race.race }}" name="customRadio" class="custom-control-input" onchange="onClick_filter('{{ race.race }}', 'race');">
                                                            <label class="custom-control-label" for="filter_{{ race.race }}">{{ race.race }} ({{ race.nb }})</label>
                                                        </li>
                                                    </div>
                                                    {% endif %}
                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse" href="#collapse_loc" aria-expanded="true" aria-controls="collapse_loc"
                                 onclick="collapse_categ('collapse_loc', 'arrow_down_loc');">
                                <a><b>Par Lieux</b><i id="arrow_down_loc" class="fa fa-angle-down filter_down arrow_categ"></i></a>
                            </div>
                            <div id="collapse_loc" class="panel-collapse collapse collapse_categ">
                                <div class="list-group">
                                    <ul class="list-group">
                                        <div class="panel-heading under-list-border wbk_button" data-toggle="collapse" href="#collapse_province" aria-expanded="true" aria-controls="collapse_province" 
                                             onclick="collapse_categ_lieux('collapse_province', 'arrow_down_province');">
                                            <a><b>Provinces</b></a><i id="arrow_down_province" class="fa fa-angle-down filter_down arrow_lieux"></i>
                                        </div>
                                        <div id="collapse_province" class="panel-collapse collapse collapse_lieux">
                                            <div class="list-group">
                                                <ul class="list-group under-list">
                                                    {% for province in filter_province %}
                                                        <div class="custom-control custom-radio">
                                                            <li class="under-list-border wbk_button">
                                                                <input type="radio" id="filter_{{ province.province }}" name="customRadio" class="custom-control-input" onchange="onClick_filter('{{ province.province }}', 'lieux');">
                                                                 <label class="custom-control-label" for="filter_{{ province.province }}">{{ province.province }} ({{ province.nb }})</label>
                                                            </li>
                                                        </div>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="panel-heading under-list-border wbk_button" data-toggle="collapse" href="#collapse_ville" aria-expanded="true" aria-controls="collapse_ville" 
                                             onclick="collapse_categ_lieux('collapse_ville', 'arrow_down_ville');">
                                            <a><b>Villes</b></a><i id="arrow_down_ville" class="fa fa-angle-down filter_down arrow_lieux"></i>
                                        </div>
                                        <div id="collapse_ville" class="panel-collapse collapse collapse_lieux">
                                            <div class="list-group">
                                                <ul class="list-group under-list">
                                                    {% for province in filter_province %}
                                                        <div class="panel-heading under-list-border wbk_button" data-toggle="collapse" href="#collapse_{{ province.province }}" aria-expanded="true" aria-controls="collapse_{{ province.province }}" 
                                                             onclick="collapse_sous_categ_lieux('collapse_{ province.province }}', 'arrow_down_province_{{ province.province }}');" style="margin-left: 10px;">
                                                            <a><b>{{ province.province }}</b><i id="arrow_down_province_{{ province.province }}" class="fa fa-angle-down filter_down arrow_province"></i></a>
                                                        </div>
                                                        <div id="collapse_{{ province.province }}" class="panel-collapse collapse collapse_province">
                                                            <div class="list-group">
                                                                <ul class="list-group under-list">
                                                                {% for ville in filter_ville %}
                                                                    {% if ville.province == province.province %}
                                                                    <div class="custom-control custom-radio">
                                                                        <li class="under-list-border wbk_button">
                                                                            <input type="radio" id="filter_{{ ville.ville }}" name="customRadio" class="custom-control-input" onchange="onClick_filter('{{ ville.ville }}', 'lieux');">
                                                                             <label class="custom-control-label" for="filter_{{ ville.ville }}">{{ ville.ville }} ({{ ville.nb }})</label>
                                                                        </li>
                                                                    </div>
                                                                    {% endif %}
                                                                {% endfor %}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="panel-heading under-list-border wbk_button" data-toggle="collapse" href="#collapse_geoloc" aria-expanded="true" aria-controls="collapse_geoloc" 
                                             onclick="collapse_categ_lieux('collapse_geoloc', 'arrow_down_geoloc');">
                                            <a><b>Prés de chez moi</b></a><i id="arrow_down_geoloc" class="fa fa-angle-down filter_down arrow_lieux"></i>
                                        </div>
                                        <div id="collapse_geoloc" class="panel-collapse collapse collapse_lieux">
                                            <div class="list-group">
                                                <div class="row">
                                                    <div class="form-group col-lg-12" style="margin-top: 15px;">
                                                        <div class="input-group" style="margin: 0 auto;">
                                                            <div class="input-group-prepend">
                                                                <button type="button" class="btn btn-primary" onclick="user_geoloc();" style="height: 38px;"><i class="material-icons faa-shake animated-hover">my_location</i></button>
                                                            </div>
                                                            <input name="query" id="input-geoloc" class="form-control postal_code_ca" type="text" required pattern=".{7,}" title="Format requis : X9X 9X9"/>
                                                            <div class="input-group-append">
                                                                <button type="button" class="btn btn-outline-warning" onclick="onClick_filter_geoloc('lieux');"><i class="fa fa-search"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse" href="#collapse_date" aria-expanded="true" aria-controls="collapse_date"
                                 onclick="collapse_categ('collapse_date', 'arrow_down_date');">
                                <a><b>Par Date</b><i id="arrow_down_date" class="fa fa-angle-down filter_down arrow_date"></i></a>
                            </div>
                            <div id="collapse_date" class="panel-collapse collapse collapse_categ">
                                <ul class="list-group">
                                    <div class="custom-control custom-radio">
                                        <li class="under-list-border wbk_button">
                                            <input type="radio" id="filter_today" name="customRadio" class="custom-control-input" onchange="onClick_filter_date('today', 'date');">
                                            <label class="custom-control-label" for="filter_today">Aujourd'hui</label>
                                        </li>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <li class="under-list-border wbk_button">
                                            <input type="radio" id="filter_week" name="customRadio" class="custom-control-input" disabled>
                                            <label class="custom-control-label" for="filter_week" data-toggle="tooltip" data-placement="bottom" title="Cette fonctionnalitée sera disponible sous peu !">Cette semaine</label>
                                        </li>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <li class="under-list-border wbk_button">
                                            <input type="radio" id="filter_month" name="customRadio" class="custom-control-input" onchange="onClick_filter_date('month', 'date');">
                                            <label class="custom-control-label" for="filter_month">Ce mois-ci</label>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% if login %}
                    <div class="container">
                        <div class="row">
                            <div class="list-group favoris" id="favoris">
                                <div class="list-group-item" style="text-align: center;" id="toggle_favoris" onclick="show_favoris()">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a><b><i class="fa fa-heart faa-shake animated-hover"></i></b></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group-item" style="text-align: center;">
                                    <div class="panel panel-default">
                                        <a href="/mes_favoris"><b><i class="fa fa-heart"></i> Mes Favoris </b></a>
                                    </div>
                                </div>
                                <div class="list-group-item list-favoris">
                                    <div class="panel panel-default" style="text-align: center;" id="inner_favoris">
                                        {% if list_favoris %}
                                            {% for favoris in list_favoris %}
                                                {% if loop.index0 % 4 == 0 %}
                                                    <div class="panel-heading img-favoris" data-toggle="collapse" href="#collapse4" aria-expanded="true" aria-controls="collapse4"
                                                         onclick="arrow_down(arrow_down_emplacement, null);">
                                                        <img class="img_list_favoris zoom" src="data:;base64,{{ favoris.file_content }}" alt="{{ favoris.file_name }}" 
                                                             onclick="window.location='/animaux/fiche/{{ favoris.id_animal }}';"/>
                                                    </div>
                                                {% else %}
                                                    <div class="panel-heading img-favoris" data-toggle="collapse" href="#collapse4" aria-expanded="true" aria-controls="collapse4"
                                                         onclick="arrow_down(arrow_down_emplacement, null);">
                                                        <img class="img_list_favoris zoom" src="data:;base64,{{ favoris.file_content }}" alt="{{ favoris.file_name }}" onclick="window.location='/animaux/fiche/{{ favoris.id_animal }}';"/>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <a>Aucun Favoris </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div id="container_animaux" class="container">
                    <div class="row">
                        {% for animal in list_result %}
                        <div class="card border-dark card_list" onclick="window.location='/animaux/fiche/{{ animal.id_animal }}';">
                            <img class="img_list zoom" src="data:;base64,{{ animal.file_content }}" alt="{{ animal.file_name }}"/>
                            <div class="card-body body_list">
                                {% if list_favoris %}
                                    {% if animal in list_favoris %}
                                        <a class="card-text heart-list" href="/del_favoris/{{ animal.id_animal}}" style="color: darkorange;"><i class="fa fa-heart faa-tada animated-hover faa-fast"></i></a>
                                    {% else %}
                                        <a class="card-text heart-list" href="/add_favoris/{{ animal.id_animal}}"><i class="far fa-heart faa-tada animated-hover faa-fast"></i></a>
                                    {% endif %}
                                {% else %}
                                    <a class="card-text heart-list" href="/add_favoris/{{ animal.id_animal}}"><i class="far fa-heart faa-tada animated-hover faa-fast"></i></a>
                                {% endif %}
                                <h5 class="card-title title_list" onclick="window.location='/animaux/fiche/{{ animal.id_animal }}';">{{ animal.nom }} - {{ animal.age }} ans - {{ animal.type }} - {{ animal.race }}</h5>
                                <div class="card-text desc_list" >{{ animal.description }}</div>
                                <p class="card-text proprio_list"><small class="text-muted">Mis en ligne par {{ animal.proprio }}<br>{{ animal.ville }} - {{ animal.province }} - {{ animal.code_postal }}</small></p>
                            </div>
                        </div>
                        {% endfor %}
            
                        <div class="container">
                            <div class="row">
                                <div id="pagination">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                            {% if actual == 1 %}
                                                <li class="page-item disabled">
                                                    <a class="page-link" tabindex="-1">Previous</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item">
                                                    <a class="page-link" href="/search/{{ query }}/search/{{ actual-1 }}" tabindex="-1">Previous</a>
                                                </li>
                                            {% endif %}
                                            {% for i in range(1,nb_pages+1) %}
                                                {% if i == actual %}
                                                <li class="page-item active"><a class="page-link page-num" href="search/{{ query }}/search/{{ i }}">{{ i }}</a></li>
                                                {% else %}
                                                <li class="page-item"><a class="page-link page-num" href="/search/{{ query }}/search/{{ i }}">{{ i }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if actual == nb_pages %}
                                                <li class="page-item disabled">
                                                    <a class="page-link">Next</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item">
                                                    <a class="page-link" href="/search/{{ query}}/search/{{ actual+1 }}">Next</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>    
    </div>
{% endblock %}