{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <img class="img-logo" src="https://image.noelshack.com/fichiers/2018/16/3/1524068679-logo.png"/>
        <h2 class="titre4">Confirmation</h2>
        <div class="alert alert-danger" role="alert" id="alertGest" style="margin-top: 15%;">
            <i class="fas fa-exclamation-circle faa-flash animated"></i> 
            <a>Une erreur est survenue ! Veuillez actualiser la page et réessayer !
            Si cette erreur persiste, veuillez s'il vous plait contacter le support à
            la clientèle !</a>
            <i class="fas fa-exclamation-circle faa-flash animated"></i>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <form action="/my_adds" method="post" id="form_conf">
            <a class="btn btn-light btn-return" href="/" role="button">Retour à l'accueil</a>
        </form>
    </div>
</div>
{% endblock %}