{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <img class="img-logo" src="https://image.noelshack.com/fichiers/2018/16/3/1524068679-logo.png"/>
            <h2 class="titre4">Confirmation du compte requise</h2>
                <div class="alert alert-warning" role="alert" id="alert_conf">
                    <i class="fas fa-exclamation-circle faa-flash animated"></i> 
                        <a>Veuillez confirmer votre compte avant de continuer !</a>
                    <i class="fas fa-exclamation-circle faa-flash animated"></i>
                </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <form action="/send_new_confirmation/{{ infos_user[3] }}" method="post" id="see_more_pets_2">
                <a class="btn btn-light btn-return" href="/" role="button">Retour à l'accueil</a>
                <button type="submit" class="btn btn-success">Renvoyer le courriel<i style="color: saddlebrown;" class="fa fa-email"></i></button>
            </form>
        </div>    
    </div>

{% endblock %}